*  {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: roboto;
}

#main {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100vh;
    
}

#main-inner {
    max-width: 1400px;
    width: 100%;
    height: 100vh;
    border: solid red 1px;
    display: flex;
    justify-content: center;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid red 1px;
    height: 150px;
    width: 400px;
}

.title {
    color: #09BAB5;
    font-size: 70px;
    font-weight: 450;
}

.title-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tb-left {
    font-size: 45px;
    font-weight: 500;
}

.tbr-center {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.514);
}

.tbr-top {
font-size: 13px;
margin-top: 3px;
font-weight: 500;
}

.tbr-bottom {
    font-size: 13px;
    font-weight: 500;
}